[Unit]
Description=uPaste App Server
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStop=/usr/bin/docker stop %n
ExecStop=-/usr/bin/docker rm %n
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull docker.jaemk.me/upaste:latest
ExecStartPre=/usr/bin/docker run --rm --name %n \
    -v /mnt/upaste_data/db:/upaste/db \
    -p 127.0.0.1:4001:3000 \
    --env-file /home/james/envs/upaste.env \
    docker.jaemk.me/upaste:latest \
    ./bin/upaste admin database migrate
ExecStart=/usr/bin/docker run --rm --name %n \
    -v /mnt/upaste_data/db:/upaste/db \
    -p 127.0.0.1:4001:3000 \
    --env-file /home/james/envs/upaste.env \
    docker.jaemk.me/upaste:latest

[Install]
WantedBy=multi-user.target

